autopopulate selected results from api json data

{{!-- THIS IS NOT WORKING AS INTENDED, API INFO GENERATED WITH JAVASCRIPT --}}

{{!-- <section class="api-card">
    <ul>
        <li>{{color}}</li>
        <li>{{common_name}}</li>
        <li>{{diet}}</li>
        <li>{{habitat}}</li>
        <li>{{location}}</li>
        <li>{{weight}}</li>
    </ul>
</section> --}}
{{!-- 
<input type="text" name="search" class=".search-field" placeholder="search">
<button>Search</button>

