
{{!-- for each bird --}}
    {{!-- picture upload --}}
    {{!-- <input type="file" id="image">{{bird.image}} --}}
    {{!-- input name --}}
    <input type="">
    <section class="bird-details">
        <ul>
            <li>{{name}}</li>
            <li>{{date_created}}</li>
            <li>{{bird_species}}</li>
            <li>{{bird_colors}}</li>
            <li>{{bird_size}}</li>
            <li>{{bird_diet}}</li>
            <li>{{migration}}</li>
            <li>{{activity}}</li>
            <li>{{description}}</li>
        </ul>
    </section>
    {{!-- input date_created --}}
    {{!-- input  bird_species--}}
    {{!-- input bird_colors --}}
   
    {{!-- input bird_size --}}
    {{!-- input bird_diet --}}
    {{!-- input migration --}}
    {{!-- input description --}} 
    {{!-- input activity --}}