
{{!-- for each bird --}}
    <Section class="birdCard">
    {{!-- picture upload --}}
<<<<<<< HEAD
    <input type="file" id="image">{{bird.image}}
    
    <form id="birdInput">
    <input type="text" name="birdName" id="birdName" placeholder="Common Name">
    
    <input type="date" name="birdName" id="birdDate" placeholder="Date of Sighting">
    
    <input type="text" name="birdSpecies" id="birdSpecies" placeholder="Latin Name or Species">
    
    <input type="text" name="birdColors" id="birdColors" placeholder="What Color/s was the bird?">
    
    <input type="text" name="birdDiet" id="birdDiet" placeholder="What was the bird eating?">
    
    <input type="text" name="birdMigration" id="birdMigration" placeholder="What is its migratory path?">
    
    <input type="text" name="birdNotes" id="birdNotes" placeholder="Any extra notes? (i.e. What was it doing, did it have any unique markings for later identification like the color of ring around its eyes, or foot color?)">
    
    <input type="submit" name="birdSubmit"id="birdSubmit">
    </form>
    </Section>
    
    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
=======
    {{!-- <input type="file" id="image">{{bird.image}} --}}
    {{!-- input name --}}
    <input type="">
    <section class="bird-details">
        <ul>
            <li>{{name}}</li>
            <li>{{date_created}}</li>
            <li>{{bird_species}}</li>
            <li>{{bird_colors}}</li>
            <li>{{bird_size}}</li>
            <li>{{bird_diet}}</li>
            <li>{{migration}}</li>
            <li>{{activity}}</li>
            <li>{{description}}</li>
        </ul>
    </section>
    {{!-- input date_created --}}
    {{!-- input  bird_species--}}
    {{!-- input bird_colors --}}
   
    {{!-- input bird_size --}}
    {{!-- input bird_diet --}}
    {{!-- input migration --}}
    {{!-- input description --}} 
    {{!-- input activity --}}
>>>>>>> dev
