{{!-- TODO: Needs styling similar to Bootstrap layout --}}

{{!-- ADD A REFRESH BUTTON --}}
<section class="api-card list-group list-group-flush w-75 mx-auto">
    <ul>
        <li>{{color}}</li>
        <li>{{common_name}}</li>
        <li>{{diet}}</li>
        <li>{{habitat}}</li>
        <li>{{location}}</li>
        <li>{{weight}}</li>
    </ul>
</section>

<input type="text" name="search" class=".search-field" placeholder="search">
<button>Search</button>

