{{!-- TODO: Delete does not destroy the card --}}
<section class="event-card card mb-2 opacity-75 ">
    <a href="/journal/{{id}}" class="text-decoration-none text-secondary">
        <dl class="row">
                    <dt class="col-sm-3">Date of Outing</dt> <dd class="col-sm-9">{{date}}<p></p></dd>
                    <dt class="col-sm-3">Location</dt> <dd class="col-sm-9"><p>{{location}}</p></dd>
                    <dt class="col-sm-3">Weather</dt> <dd class="col-sm-9"><p>{{weather}}</p></dd>
                    <dt class="col-sm-3">Notes</dt> <dd class="col-sm-9"><p>{{description}}</p></dd>
        
        </dl>    
    
    {{!-- <ul class="list-group list-group-flush">
        <li class="list-group-item  list-group-item-action">{{date}}</li>
        <li class="list-group-item list-group-item-action">{{location}}</li>
        <li class="list-group-item">{{weather}}</li>
        <li class="list-group-item ">{{description}}</li> 
    </ul> --}}
    </a>
    {{!-- <button class="delete-event-button btn btn-outline-danger m-1">Delete</button> --}}
</section>
{{!-- need a new event button with a post request and form with inputs, as well as a save --}}
{{!-- need an edit button that connects to a put request in a 'public' folders js file --}}
{{!-- edit functionality should also have an option to delete event (with cascading deletions of all associations) --}}