<section class="dashboard-container">
    <h1>Welcome back {{User.name}}!</h1>
    <div>
    <h3 class="events">Your entries:</h3>

    <form action="" class="addEvent">
        <button id="newEventBtn">New event</button>
        <input type="text" name="eventLocation" id="eventLocation">
        <input type="text" name="eventWeather" id="eventWeather">
        <input type="text" name="eventDescription" id="eventDescription">
    </form>

    <section class="events-container">
            {{#each events}}
                <div class="card">
                    <hr>
                    <a href="/journal/{{id}}"><h4>Location: {{location}}</h4></a>
                    <h4>Weather: {{weather}}</h4>
                    <h4>Description: {{description}}</h4>
                </div>
            {{/each}}
    </section>
    {{!-- <section class="friends-container">
        <a href="friend/event/{{id}}">
        {{#each friend as |friend|}}
        {{> friend-details}}
        {{/each}}
        </a>
    </section> --}}
    </div>
</section>
